<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340851487106-pk6ae1g92e2icavr0j236jokln4lnek9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340851487106-pk6ae1g92e2icavr0j236jokln4lnek9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>340851487106-c68aumilqnu2mj9nnvr8t8bigri4j70n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAA_bNNpSOViCg-4SX8eN06ubPsBl8A53s</string>
	<key>GCM_SENDER_ID</key>
	<string>340851487106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timeTrackerFlutter</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-pro-fc359</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-pro-fc359.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340851487106:ios:7a4037531c69985fdc9f9b</string>
	<key>DATABASE_URL</key>
	<string>https://time-tracker-flutter-pro-fc359.firebaseio.com</string>
</dict>
</plist>